################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SKP Mandatory Assignments/SKPAssigenment/.vs/SKPAssigenment/v16/Server/sqlite3
