################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SKP Mandatory Assignments/SKPAssigenment/.vs/SKPAssigenment/v16/Server/sqlite3
/SKP Mandatory Assignments/CalculatorAndGuessingGame/.vs/CalculatorAndGuessingGame/v16
/SKP Mandatory Assignments/SKPAssigenment/.vs/SKPAssigenment/v16
